@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');


table td {
    border: 1px solid #CCE8DB;
    background-color:#CCE8DB;
    width: 100px;
    height: 100px;
    box-shadow: 5px 4px 30px rgba(0,0,0,.10);
	border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size: 3em;
}

table {
    border-spacing: 10px;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color:#b361a3;
}

.turn {
    color:#b361a3;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;

}

button {
    border:none;
    border-radius: 12px;
    color:#b361a3;
    background-color: #F8B3CA;
    font-family: 'Poppins', sans-serif;
    padding: 0.5em;
    margin-bottom: 1em;
}

